* 
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: navy;
}

.app {
  width: 45%;
  height: 65vh;
  background: #fff;
  border-radius: 10px;
  margin-top: 10px;
  max-width: 600px;
  position: relative;
}

.app h1 {
  font-size: 40px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  border-bottom: 2px solid black;
  padding-bottom: 10px;
}

.quiz h2 {
  padding-bottom: 10px;
}

.btn {
  background: #fff;
  color: #222;
  border: 1px solid black;
  width: 90%;
  border-radius: 5px;
  font-weight: 500;
  font-size: 20px;
  padding: 10px;
  text-align: left;
  cursor: pointer;
  transition: all 0.3s;
  margin: 5px 0;
}

.btn:hover:not([disabled]) {
  background: #222;
  color: #fff;
}

.btn:disabled {
  cursor: no-drop;
}

.nxt-btn {
  width: 8%;
  height: 4vh;
  font-weight: 500;
  background: navy;
  padding: 2px;
  border-radius: 5px;
  position: absolute;
  left: 13%;
  cursor: pointer;
  color: #fff;
  display: none;
}

.correct {
  background: #9aeabc;
}

.incorrect {
  background: #ff9393;
}